{% extends './layout.html' %}

{% block titulo %}
Error 404
{% endblock %}

{% block body %}
<div class="error-404">
    <center>
        <h1>¡¡¡Error - página no encontrada!!!</h1>
        <br>
        <h2>La página solicitada no ha sido encontrada o esta en construcción</h2>
        <img src="..\static\css\404.gif" width="1328" height="440" />
    </center>
    <button class="button-comentario"><a href="/" style="text-decoration: none;">Ir al inicio 🏠</a></button>
</div>

{% endblock %}

{% block button_footer %}

{% endblock %}